.scroll-content * {
  position: relative;
}
.button-effect {
  position: absolute;
}

fieldset {
  border: initial;
  margin: initial;
  padding: initial;
}

textarea::placeholder {
  padding-left: 0;
}
