.spinner-item-sk-rotatePlane {
  width: 40px;
  height: 40px;
  background-color: #333;
  animation: 1.2s ease-in-out infinite sk-rotatePlane;
  display: block;
}

@keyframes sk-rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
