:host {
  width: 100%;
  height: 100%;
  position: absolute;
  .container {
    z-index: 10;
    background-color: transparentize(white, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@import "./sb-admin";
@import "./sk-rotatePlane";

