wsm-wish {
  ion-card.card {
    border-radius: 0.4rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.6), 0 3px 4px rgba(86, 61, 124, 0.3);

    &.selected {
      background: transparentize(color($colors, dark), 0.6);
    }

    ion-card-content {
      white-space: pre-wrap;
    }
  };
}
