.wish-form {
  ion-item.item .item-inner {
    box-shadow: none !important;;
    border: none;
  }

  input[formcontrolname='title'],
  input[formcontrolname='price'] {
    font-weight: bold;
  }
  textarea[formcontrolname] {
    max-height: 40vh;
    overflow-y: auto !important;
  }
}
