<ion-header>
  <wsm-navbar [actions]="navbarActions"></wsm-navbar>
</ion-header>
<ion-content class="animated fadeIn common-bg">
  <ion-fab bottom right (click)="openForm()">
    <button ion-fab color="light" >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <h2 *ngIf="!wishes.length" padding>{{'.noWishes' | t:path}}</h2>
  <wsm-wish *ngFor="let wish of wishes"
            [wish]="wish"
            [selectMode]="selectMode"
            [openForm]="openForm"
            oncontextmenu="return false"
  ></wsm-wish>
</ion-content>
